<div class="navbar navbar-dark bg-light">
	<ul class="nav nav-tabs justify-content-center float-right">
		<li class="nav-item active">
			<a class="nav-link" data-toggle="tab" role="tab" href="#campaignAdvertising">Campaign Advertising</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" data-toggle="tab" role="tab" href="#culturalFusion">Cultural Fusion</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" data-toggle="tab" role="tab" href="#liberalismUSChina">Liberalism US China</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" data-toggle="tab" role="tab" href="#moneyPolitics">Money In Politics</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" data-toggle="tab" role="tab" href="#crumblingInfrastructure">Crumbling Infrastructure</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" data-toggle="tab" role="tab" href="#iraqJustification">Iraq Justification</a>
		</li>
	</ul>
</div>
<div class="tab-content">
	<!-- content row -->
	<div id="campaignAdvertising" class="container tab-pane ">
		<%- include ('../partials/campaignAdvertising') %>
	</div>
	<div id="culturalFusion" class="container tab-pane fade">
		<%- include ('../partials/culturalFusion') %>
	</div>
	<div id="liberalismUSChina" class="container tab-pane fade">
		<%- include ('../partials/liberalismUsChina') %>
	</div>
	<div id="moneyPolitics" class="container tab-pane fade">
		<%- include ('../partials/moneyInPolitics') %>
	</div>
	<div id="crumblingInfrastructure" class="container tab-pane fade">
		<%- include ('../partials/crumblingInfrastructure') %>
	</div>
	<div id="iraqJustification" class="container tab-pane fade">
		<%- include ('../partials/iraqJustification') %>
	</div>
</div>
